#block-hc-sm-hc-sm {
  
}

#block-hc-sm-hc-sm ul {
  float: right;
  list-style: none;
}

#block-hc-sm-hc-sm ul li {
  float: left;
  max-width: 75px;
  margin-right: 10px;
}

#block-hc-sm-hc-sm ul li.first {
  margin-right: 15px;
}